body {
 background-color: #000;
 background-image: url("../images/pages_bg.png");
}

table
{
    position: fixed;
    left: 20vw;
    top: 15vw;
    right: 20vw;
    font-size: 1.5vw;
    border-spacing: 10px;
    border-collapse: separate;
    margin: -10px;
    text-align: center;
}

td {
    padding: 6.6vw;
    border: 1px solid;
    background: lightgray;
}

#organizations_rectangles
{
    width: 30vw;
    height: 3vw;
}

#rectangle
{
    width: 60vw;
    height: 2.5vw;
    position: fixed;
    top: 7vw;
    left: 20vw;
    background: lightgray;
}

.header_text
{
    position: fixed;
    left: 20vw;
    top: 2vw;
    font-size: 3vw;
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
    color: black;
}

.find_text
{
    position: fixed;
    left: 20vw;
    top: 10vw;
    font-size: 3vw;
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
    color: black;
}

.main_bar_text
{
    position: fixed;
    left: 45vw;
    top: 7vw;
    font-size: 2vw;
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
    color: white;
}

.organizations
{
    position: fixed;
    left: 45vw;
    top: 15vw;
}

h1
{
    color: blue;
}

img
{
    width: 350px;
}


