<!DOCTYPE html>
{%  load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%  static "css/style.css" %}" />
    <title>Main page</title>
</head>
<body>
<div id="rectangle"></div>
<div class="header_text">Расписание для организаций</div>
<div class="find_text">Поиск организации:</div>
<div class="main_bar_text">Организации</div>
{%  for org in organizations %}
{% endfor %}
    {% if user.is_authenticated %}
      Привет, {{ user.username }}!
      <br>
      <a href="/logout">Выход</a>
    {% else %}
      <a href="/login">Вход</a>
      <br>
      <a href="/register">Регистрация</a>
    {% endif %}
</body>
</html>