<!DOCTYPE html>
{% extends 'index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block find_text %}
<div class="find_text">Информация об организации</div>
{% endblock %}
{% block content %}
    <div id="organizations-1">
    <talbe>
        <tr>
            <td><b>Название: </b>{{ name }}</td>
        </tr>
        <br>
        <tr>
            <td> <b>Дата основания:</b> {{ year_of_est }}</td>
        </tr>
        <br>
        <tr>
            <td> <b>Адрес: </b>{{ location }}</td>
        </tr>
        <tr>
            <td> <b>Сотрудники: </b></td>
        <td>
        <ol>
            {% for person in pers %}
                <li>
                    <ul>
                            <li>{{ person.0.name }}</li>
                            <li>{{ person.0.surname }}</li>
                            <li>{{ person.0.middlename }}</li>
                            <li><b>Расписание: </b></li>
                    <ul>

                            {% for day in person.1 %}
                                <li>{{ day.day }}</li>
                                <li>{{ day.start }}</li>
                                <li>{{ day.end }}</li>
                                {% endfor %}
                    </ul>

                        <ul>
                        </ul>
                    </ul>
                </li>
            {% endfor %}
        </ol>
        </td>
        </tr>
    </talbe>
    </div>
{% endblock %}
</body>
</html>